[2014-04-16 08:08] chilijung opened #13 "deploy the output folder to gh-pages"

[2014-12-13 01:58] chilijung opened #32 "test"

[2015-01-31 05:50] chilijung opened #33 "support other template engines"
http://mozilla.github.io/nunjucks/

https://github.com/paularmstrong/swig

[2015-01-31 05:51] chilijung commented on #33
http://garann.github.io/template-chooser/

[2015-01-31 10:57] chilijung commented on #33
nunjucks support

[2015-01-31 13:12] chilijung commented on #33
jade support

[2015-01-31 15:46] chilijung commented on #33
swig support

[2015-01-31 16:37] chilijung commented on #33
dustjs support

[2015-01-31 16:37] chilijung commented on #32
finish building tests.

[2015-06-19 07:20] #33 closed

[2015-07-27 13:42] ctxhou commented on #36
現在有這個command

但是是叫 `canner create`

[2015-07-30 08:50] chihsuan commented on #13
using `git subtree push --prefix dist origin gh-pages` now, may enhance in the future

[2015-07-30 08:50] #13 closed

[2015-07-30 09:04] chihsuan commented on #34
這個issue看起來不是我們能solve的。

[2015-07-30 09:05] chihsuan opened #37 "git ssl support"

[2015-08-07 15:37] chihsuan commented on #37
cancel

[2015-08-07 15:37] #37 closed

[2015-09-08 11:43] chihsuan commented on #39
https://github.com/Canner/canner-core/tree/master/test

[2015-09-11 15:20] chihsuan commented on #40
Finish,  `canner data:new [hbs_template]`

[2015-11-05 08:04] #32 closed

[2018-03-03 15:11] greenkeeper[bot] opened #1 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on all branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI status on th

[2018-04-12 10:11] abz53378 opened #3 "change renderCancelButton to renderResetButton"

[2018-04-24 02:26] abz53378 opened #8 "components, def.js, uiParams problem"
- broken components
[code]
- `table` and `table-route` default `uiParams.columns`
- `select`, `card`, `radio` default `uiParams.options`
-  `map`, `variants`, `options` def.js
-  `map` broken but don't know why
-  `tabs` component should render buttons only at first key
-  `table` component has [expandedRowRender](https://ant.design/components/table/#components-table-demo-expand), but don't know w

[2018-05-24 07:14] abz53378 opened #14 "deploy api"

[2018-05-24 09:26] abz53378 commented on #14
## dataDidChange
[code]
## CMS.deploy
## CMS.reset
## afterDeploy
[code]
## hideButtons
[code]

[2018-05-25 06:58] abz53378 opened #15 "Add cache property to indicate regeneration of cacheTree when receive new schema"
In the current solution, when `schema` is passed to canner, it will be processed to `componentTree` and  not going to regenerate if canner recieve new schema. It's a best for performance, but under some situations, for example live demo, we'll want canner to regenerate the `componentTree`.

Thus, IMO, we should add a cache property to decide whether to cache the `componentTree` or not.

[2018-05-25 06:59] abz53378 commented on #14
fixed in b0af5b12152eb4644b4ab4d8a421e581aa1c49ef and 5ac4d9cf9583848854f968191de8d0a9121448a8

[2018-05-25 06:59] #14 closed, assigned to nobody

[2018-05-25 10:28] abz53378 opened #16 "update toOne relation null will break"

[2018-05-28 11:18] abz53378 opened #17 "remove nested connection for prisma support"

[2018-05-31 09:45] abz53378 opened #18 "pass 'keyName' in context when query and mutate"

[2018-05-31 09:46] abz53378 opened #19 "changing key quickly cause query broken"

[2018-05-31 11:08] #18 closed, assigned to nobody

[2018-06-01 04:52] #19 closed, assigned to nobody

[2018-06-03 02:35] abz53378 opened #20 "customize layout on platform"
We should add more examples and demos regarding layout customization.

[2018-06-04 03:43] abz53378 opened #21 "compile at runtime"

[2018-06-23 05:15] #21 closed, assigned to nobody

[2018-07-01 02:45] youngjuning commented on #20
Is there a demo or best practice in there.

[2018-07-01 03:03] youngjuning commented on #20
I would use the Grammarly to write issues

[2018-07-01 14:45] wwwy3y3 commented on #20
@youngjuning thank you for your interest to canner. We’ll add more examples and tutorials in the following weeks.

[2018-07-01 22:46] DanielRuf opened #23 "proposal: run tests on CI"
Currently there is no CI and I think it makes sense to enable Travis CI for testing commits and PR.

[2018-07-02 01:50] wwwy3y3 commented on #23
Hi, @DanielRuf Thanks for your advice! Testing with CI is already on our roadmap. We'll get to that really soon.

[2018-07-02 12:50] abz53378 commented on #23
Hi, @DanielRuf, CircleCI is added! Thanks again for you interest to Canner.

[2018-07-02 12:50] #23 closed, assigned to nobody

[2018-07-03 02:44] wwwy3y3 opened #24 "AWS AppSync"
This feature request serves as a central place to discuss development and progress for the support for AWS AppSync. Please contribute in the comments below. I will update the top comment as consensus forms.

[2018-07-03 03:07] #8 closed, assigned to nobody

[2018-07-03 03:07] #3 closed, assigned to nobody

[2018-07-03 03:07] #16 closed, assigned to nobody

[2018-07-03 03:07] #17 closed, assigned to nobody

[2018-07-07 06:48] Weej1 opened #28 "does canner support multi-site configurations?"
Hi, what it says on the tin. Can I install canner once and then have different kinds of sites run? Our is that not recommended?

[2018-07-07 09:34] chilijung opened #29 "Canner SSR + support Next.js"
In the past few days, we were trying to support Canner with Next.js in order to provide SSR in CMS. We encountered a problem that when Next.js builds production code, it also handles how chunks should store. More information from Next.js `handle-import.js`: https://github.com/zeit/next.js/blob/canary/build/babel/plugins/handle-import.js#L37-L44.

After several days of investigation, here's our sol

[2018-07-07 13:21] chilijung commented on #29
We can wait until this PR is merged https://github.com/zeit/next.js/pull/4639, so we can directly use `react-loadable`

[2018-07-07 13:23] chilijung commented on #29
I think we will wait for that PR to merged, before that we can leave our CMS SSR aside.

[2018-07-08 07:52] wwwy3y3 commented on #28
Hi @Weej1
Canner is not a site generator like traditional CMS (e.g., WordPress). It's an `Adaptive CMS Framework` for developers to build a CMS connecting different data sources.

For more detail about `Adaptive CMS Framework`, you can learn from here: https://www.canner.io/docs/why-adaptive-cms.html.

So, for example, you have multiple sites using different API services. Canner helps you deal wit

[2018-07-12 01:49] #28 closed, assigned to nobody

[2018-07-17 10:06] overpod opened #30 "Error canner init:schema"
[code]
#### Error
[code]

[2018-07-17 15:17] abz53378 commented on #30
Hi, @overpod, thanks for reporting the bug, it was caused by case sensitivity and we fix it in `@canner/cli@2.2.2`.

Please upgrade `@canner/cli` and try it again. Thanks!

[2018-07-17 15:17] #30 closed, assigned to nobody

[2018-07-23 15:15] chilijung opened #34 "Validation feature"
Validating fields is really important.
In Prisma (GraphQL) the data is strictly defined in DSL. Such as name must be a string `String!`, many fields must have values.  This will cause errors in database and graphQL and crashing the graphQL server.

I think we should add validation feature in Canner soon.

[2018-07-24 05:02] chilijung opened #35 "Error message improvement"
<img width="1016" alt="screen shot 2018-07-24 at 11 05 35 am" src="https://user-images.githubusercontent.com/1216029/43117909-de457f92-8f41-11e8-8bc3-920bc5c63eed.png">
Now if CMS component is crashing, it will only display a really rough message to users, and crashing the whole CMS.

Errors should catch in CMS component level, we should use `componentDidCatch` to catch errors from every children

[2018-07-25 10:24] abz53378 commented on #34
## Usage
In canner-script we should support property `validation`, contains validation rules such as `required, maximum, minimum, pattern , format`, etc.
[code]

And the `required` can be used as a property alone like below because it's used frequently.
[code]

## Validation rules

In first version of validation, we will support the rules of  `string`, `number` and `required`.

- for strings - max

[2018-07-26 03:15] chilijung opened #36 "example of using Vue component as customize component in Canner"
https://github.com/akxcv/vuera

[2018-07-26 08:06] chilijung commented on #36
I've tried to import vue components into Canner, and found out it still not a mature technology. Moreover, I think we should focus on build CMS for one community (React) instead of two at this moment, which might cause unexpected issues (such as dynamic import, etc.. problems).

[2018-07-26 08:06] #36 closed, assigned to chilijung, abz53378

[2018-07-27 06:06] #35 closed, assigned to abz53378

[2018-07-28 06:47] Shawnfoto opened #38 "canner script:serve error msg"
OS: win10

when i command

[code]

it run the error message.

[code]

[2018-07-28 13:41] #34 closed, assigned to abz53378

[2018-07-28 14:36] wwwy3y3 commented on #38
@Shawnfoto Thanks for the bug report. We're working on it!

[2018-07-31 03:30] abz53378 opened #39 "add CMSWrapper"
## Overview

Canner is a component that renders the CMS with our [canner schema](https://www.canner.io/docs/guides-writing-schema.html)

For examples, the code below will **ONLY** generate the `form`, no sidebar, navbar or anything a complete CMS should have.

**examples**
[code]

![2018-08-01 2 13 22](https://user-images.githubusercontent.com/8848231/43504209-15cffdee-9595-11e8-84bf-e3201f5416b6.

[2018-07-31 08:23] abz53378 opened #40 "RouterAdaptor in CMSWrapper"
## Overview

Use `RouterAdaptor` to parse `routes`, `params` and generate the `goTo` method to `CMS` component.

## Why

### different router implementation

For now, canner ask developers to pass a [history](https://www.npmjs.com/package/history) object to let `CMS` get the `routes`, `params` and `gotTo` which are used to deal with the routing in `CMS`.

For examples:
[code]

But there is maybe n

[2018-07-31 08:53] abz53378 opened #41 "sidebar/navbar in CMSWrapper"
## Overview

We can pass `sidebarConfig` and `navbarConfig` to `<CMSWrapper />` to render sidebar and navbar easily.

[code]

![1](https://user-images.githubusercontent.com/8848231/43516843-54005608-95b9-11e8-9eea-c16280bbe7f0.png)

## Details

There should  be two components `<Sidebar />` and `<Navbar />`, and then `<CMSWrapper />` can just pass their config to them like below.

[code]

### `<Sid

[2018-07-31 09:07] abz53378 opened #42 "override css in CMSWrapper"
## Overview

`<CMSWrapper />` should have an API to let developers override our CMS style easily

## Possible Solution

- css string
[code]

[2018-07-31 09:18] abz53378 opened #43 "add authProvider"
## Overview

We should create AuthProvider component to render login page and deal with the authentication.

## Goals

- check identity
- render login page
- pass `renderMenu` to CMSWrapper (children) .

## Proposed Solution

**usage**
[code]
[current login page](https://github.com/Canner/canner-firebase-cms/blob/master/src/app/containers/app.tsx)
[current identity check](https://github.com/Canner

[2018-08-01 07:49] chilijung opened #44 "Use Lerna to maintain repos and pkgs"
REF: https://github.com/Canner/antd-canner-components

[2018-08-01 08:20] wwwy3y3 commented on #42
I think we should set up specific attributes to developers instead of classes like `.antd-menu-item`. We don't want to leak the implementation to developers.

For example:
[code]

[2018-08-01 08:26] chilijung commented on #42
@wwwy3y3 yeah, we have talked about that I agree with you, but we will need to discuss how it works both on platform and OSS,

- **platform**:  Should `less` files built on the server? I think less files should be automatically generated when users uploaded on CLI tools to server.

Right now our `cms-page` use bundled css files https://github.com/Canner/canner/blob/master/docs/index.html#L7

- **O

[2018-08-01 08:27] wwwy3y3 commented on #41
@abz53378 Can we have a clearer interface of `sidebarConfig`?

For example, what properties will be included in `params`?

Furthermore, what does `renderMenu ` in `navbarConfig` do ? Does it render like antd `menu`?

[2018-08-01 08:32] chilijung commented on #42
On second thought, I think it's impossible to directly override attributes by passing props. It should be replace in bundlers (webpack). So another possible way is passing css (and use styled-components to overwrite styles) like @abz53378 purpose. And as our platform we should pass style variables in `canner.config.js` and compile in server.

[2018-08-01 08:36] chilijung commented on #41
Agreed, I think the clearer details can help everyone to understand and give feedbacks before implementation. Also, this helps everyone on the same page.

[2018-08-01 08:38] chilijung commented on #40
@abz53378  Add why section to accentuate why we need this.

[2018-08-01 08:49] chilijung commented on #42
@abz53378 @wwwy3y3  I have another thought, I think we shouldn't include style props in our CMS framework, it should leave to users to setup themselves which they can easily setup their styles by reading https://ant.design/docs/react/customize-theme. (We could add a section in our document to help users to setup)

As for Canner platform, we will use `canner.config.js` and compile less files in ser

[2018-08-02 02:27] abz53378 commented on #41
@wwwy3y3, @chilijung, @chihsuan. Updated!

[2018-08-02 08:44] chihsuan commented on #44
PR merged: https://github.com/Canner/canner/pull/45

Close this issue.

[2018-08-02 08:44] #44 closed, assigned to chihsuan

[2018-08-03 14:54] paolomemoli opened #47 "Does not compile on fresh install after setup"
[code]

[code]

Also noticed theres no package.json file created, is this by design?

[2018-08-04 07:48] abz53378 commented on #47
Hi, @memolipd, thanks for your report.
In general, `babel-loader` will be installed with `@canner/cli` because it's a dependency. So I guess the error may be caused by the resolver setting in the `webpack.config.js` of `@canner/cli`. We will check and fix it soon.

And yes, `@canner/cli` doesn't create `package.json` in your project. Thanks!

[2018-08-06 14:23] chihsuan commented on #41
PR #46 was merged. Close this issue.

[2018-08-06 14:23] #41 closed, assigned to chihsuan, abz53378

[2018-08-06 14:40] chilijung commented on #42
@abz53378 @wwwy3y3 I'll close this issue for now. Since I think we will leave css for developers themselves.

[2018-08-06 14:40] #42 closed, assigned to chihsuan, abz53378

[2018-08-06 14:41] #1 closed, assigned to nobody

[2018-08-07 03:20] abz53378 commented on #40
After the discussion with William, there are some changes:
- props name `routerAdaptor` changes to `router`
- package name should be `@canner/router-history`
- add the default router `@canenr/router`

## Detail

### @canner/router-history

If developers already use `react-router` in their projects, they can just pass the `history` object to `@canner/router-hisotry` so that they don't have to parse

[2018-08-07 10:55] abz53378 opened #51 "i18n support on title and description"
## Proposed Solution

Developers can pass a property `dict` which stores different languages of title and description
Then in the schema, title and description will be a string with a specific prefix to let canner know this string can be parsed to a `key` of `dict`, for examples:

[code]
[code]

[2018-08-07 13:45] paolomemoli commented on #47
ok, do you have a workaround for this? very keep to try canner out!

[2018-08-08 03:01] abz53378 commented on #47
Hi @memolipd , I can't reproduce this error on my computer. Could you try to install the missing loaders in your project, It should work.

Could you provide further information for us to debug?

Please confirm whether there are `babel-loader` and `@canner/cli` under the folder `/Users/paolo/.config/yarn/global/node_modules/` (which should be installed).

Thanks!

[2018-08-08 06:07] chilijung opened #52 "Support chart/ dashboard in CMS"
We can consider using https://vega.github.io/vega/ syntax to support chart, and use https://github.com/kristw/react-vega/ for react port for vega lib.

## Questions

1. How to received queried data (needed data) to chart components instead of fetching all data sources at once.
   - adding a `graphql` props in the component, to allow component to have wild-card access and sending specific queries t

[2018-08-08 10:36] wwwy3y3 commented on #52
We need to design our aggregation graphql.

## Idea
For example, to create a bar chart with visitor data, you could get grouped data by:
[code]

## Reference
Right now, I need to look through the community to find out if there are best practices. I'll just paste some related information I found first. There's not yet a standard spec for it.
* https://github.com/graphql/graphql-js/issues/855
* http

[2018-08-09 07:31] abz53378 commented on #40
PR #50, #53 were merged, so I close it.

[2018-08-09 07:31] #40 closed, assigned to chihsuan, abz53378

[2018-08-09 13:28] paolomemoli commented on #47
`babel-loader` is in my global node modules.
It should be pretty easy to replicate. It's a fresh install.

here's the issue:

[code]
[code]

[2018-08-10 10:53] abz53378 commented on #47
Hi, @memolipd , thanks for your information, I finally reproduced the same error after I used `yarn` to install `@canner/cli`. In my case , after install with yarn and reinstall it with `npm i -g @canner/cli`, it still uses the one installed by yarn and throws the same error as you posted. You can verify it by `which canner`, it will print `/usr/local/bin/canner`(the default bin folder of yarn) in

[2018-08-13 10:31] chilijung opened #55 "Table could render differently when in create & edit mode"
Currently our popup table, no matter it is create or edit it shows with the same CMS UI, this could cause some severe limits, such as a common situation if I have a field called `createDate`. When user creates it should be editable, and in edit mode it should be disabled.

We have to think of a general interface for these kinds of usage.

[2018-08-13 10:35] chilijung commented on #55
Actually I think we could think of a general solution, such as

[code]

[2018-08-14 01:37] chilijung commented on #55
Or we could do something like

[code]

[2018-08-14 02:09] abz53378 commented on #55
Here is a similar case. It takes the `data` to control the render of the children.

If we want to limit `maleConfig` **only appears** when `gender` is `male`:

[code]

[2018-08-14 02:25] abz53378 commented on #55
Maybe we can merge them in one tag.
[code]

[2018-08-14 02:28] chilijung opened #56 "Next & previous button should add padding"
Improve UI

<img width="313" alt="screen shot 2018-08-14 at 10 27 10 am" src="https://user-images.githubusercontent.com/1216029/44068461-ab60ea00-9fac-11e8-8d3d-8ae4a0421c0d.png">

[2018-08-14 02:33] chilijung commented on #55
I think `mode` should be more explicit like `defaultMode` or `defaultState` or `defaultValue` (just come up with some probabilities) which is better.

[2018-08-14 02:38] chilijung opened #57 "Render title & order not correctly"
I use schema like this

[code]

The order & title is not displayed correctly.

<img width="958" alt="screen shot 2018-08-14 at 10 36 29 am" src="https://user-images.githubusercontent.com/1216029/44068685-f11bc672-9fad-11e8-9ab1-eaa28b88d564.png">

[2018-08-14 02:49] wwwy3y3 commented on #55
Look good to me. Kind of like the `Layout` component we're trying to make.

[2018-08-14 03:09] chilijung opened #58 "Field have to be able to add defaultValue from props"
Current mechanism directly shows value from source and update value to the source. But sometimes it's not enough.

But in some cases, we might need to insert a `defaultValue` from Canner schema.

let's say, we need a form to create a product, and the productId should generate while I click the add button and also it should be disabled so users is not allow to change it. So in order to do that I'll

[2018-08-14 04:30] chilijung opened #59 "allow users to pass storage props from root"
Currently, storage props only support in first level object tags.

[code]

[2018-08-14 06:54] abz53378 opened #60 "Duplicated keys cause the incorrect data"
## Problem

The schema below causes `Apollo` return incorrect data when I use `canner script:serve`.

**Schema**
[code]

**Expected**
the second `sameKey` should be a string
[code]

**actual**
[code]

[2018-08-14 11:13] abz53378 commented on #56
Fixed in cbc3f7a8de931d94fd11257e007cdc8df6a48137, so I close it.

[2018-08-14 11:13] #56 closed, assigned to abz53378

[2018-08-14 11:39] paolomemoli commented on #47
Yep that fixed it!

👍 👍 👍

[2018-08-15 03:33] chilijung opened #61 "Multiple select relationship broken"
Now we must put `ui="multipleSelect"` in the first prop to make multiple select work

[code]

[2018-08-15 03:36] chilijung opened #62 "Add localstorage when develop in local CLI serve"
We should temporary storage data in local serve, so developers can try their data easiler. And add a `clear` button in top-right corner

[2018-08-15 03:36] #51 closed, assigned to nobody

[2018-08-15 03:40] chilijung opened #63 "In table route check if user have modified data, and confirm before erase data"
<img width="417" alt="screen shot 2018-08-15 at 11 39 06 am" src="https://user-images.githubusercontent.com/1216029/44130401-e853a2d0-a07f-11e8-9007-d632c20d5919.png">
When user click `back`, confirm user that they are going to erase their data.

[2018-08-15 03:43] chilijung opened #64 "Add relation tree component"
We need to have more intuitive way to show users when they are creating tree relationship problem

<img width="171" alt="screen shot 2018-08-15 at 11 42 43 am" src="https://user-images.githubusercontent.com/1216029/44130477-667609aa-a080-11e8-98dd-68a39be418df.png">

[2018-08-16 12:44] abz53378 opened #65 "Add new tags for dashboard, chart, overview."
## Overview
We will support few tags for `overview`, `chart`, `dashboard`  features:

- \<page>
- \<chart> tags
    - \<chart ui="line">
    - \<chart ui="pie">
    - \<chart ui="scatter">
    - \<chart ui="bar">
- \<display> tags
    - \<display ui="list">, see [antd list](https://ant.design/components/list/).
    - \<display ui="amount">, show the number, like [react-admin demo](https://ant.desi

[2018-08-17 04:13] chihsuan commented on #65
@abz53378: Thanks for writing down the spec. How about to use`<metrics>`, `<indicator>` or just `<card>` instead of `<display>` ? Because `<display>` might be more likely to consider as a verb which is not consistent with other tags.

And we might still need to have a new tag for picking the time range of data. Like Google Analytics. I think it would be like a container tag which can contain other

[2018-08-17 04:15] chilijung commented on #65
Agree with @chihsuan, tags should be more specific the better, cause we might adding additional tags in the future.

+1 for `indicator`

[2018-08-17 05:10] abz53378 commented on #65
Thanks, @chihsuan, `<indicator>` is a great name!

The `<datePicker>` is excatly an important tag, thx for point it out .  But I still need some time to dig into it (maybe have other pickers?, or different tags design?, etc).

About the data flow of components, I will open another issue to discuss the implementation. But in brief, these components will fetch the data by themselves. For examples, t

[2018-08-17 10:58] abz53378 opened #67 "Add `limitSize` in image-service-config"
## Notes
- `@canner/antd-object-image` should throw the related message

[2018-08-18 05:28] chihsuan commented on #65
@abz53378: As we discussed, I'm trying to implement new chart tags. I am going to create a chart model in canner-script. Since we would need to wrap react-vega components as our components. Should we have a repo for chart components like `antd-canner-components` to map the chart tag to its component?

[2018-08-18 05:55] chilijung commented on #65
Yes, you can create a repo for that. Could called ‘vega-canner-components’?

Chi-Hsuan Huang <notifications@github.com>於 2018年8月18日 週六，下午1:28寫道：

--
Canner / Howard Chi

https://www.canner.io
Email: howard@canner.io

[2018-08-18 06:19] chihsuan commented on #65
@chilijung: Thank you for the quick reply. Sure, `vega-canner-components` looks good. But could you please help to create it? I don't have the permission to do that. It's okay to take your time. I can implement new chart tags first since the repo name is determined. Thanks!

[2018-08-18 06:22] wwwy3y3 commented on #65
@chihsuan https://github.com/Canner/vega-canner-components
here you go.

[2018-08-19 01:50] #59 closed, assigned to abz53378

[2018-08-19 03:47] chilijung commented on #57
@abz53378 I thought this is fixed right?

[2018-08-20 09:04] abz53378 commented on #55
Already implementation in https://github.com/Canner/canner/commit/1f96469cfde8ffcc6e4ca128d6486a1f0780a5d8, so I close it.
You can see the example schema [here](https://github.com/Canner/canner/blob/canary/examples/condition-fields/canner.schema.js)

[2018-08-20 09:04] #55 closed, assigned to wwwy3y3, chihsuan, abz53378

[2018-08-20 09:05] abz53378 commented on #65
Merged, so I closed it.

[2018-08-20 09:05] #65 closed, assigned to chihsuan, abz53378

[2018-08-20 09:11] abz53378 commented on #39
Implemented in #46.

[2018-08-20 09:11] #39 closed, assigned to chihsuan, abz53378

[2018-08-20 09:12] #47 closed, assigned to nobody

[2018-08-21 06:57] abz53378 opened #70 "Chart and Indicator Component"
## Overview
In these chart and indicator components, there will be a HOC dealing with the `query` and `variables`. So the chart component will receive the data directly, and also some useful methods.

### canner.schema.js
We have to support `toolbar` in `indicator` and `chart`.
So actually the `indicator` object format will be
[code]

[code]

### HOC
[code]

### Component
[code]

## Details

Chart

[2018-08-21 07:51] abz53378 opened #71 "Customize errorMessage in validation property"
We should add `errorMessage` in `validation` to let developer customize the message when the value is invalid with ajv.

[code]

[source](https://github.com/Canner/canner/blob/canary/packages/canner/src/hocs/validation.js#L37-L59)
[docs](https://www.canner.io/docs/guides-writing-schema#validation)

[2018-08-21 09:36] chilijung commented on #29
Support Canner + SSR, demo: https://github.com/Canner/canner-firebase-cms

[2018-08-21 09:36] #29 closed, assigned to wwwy3y3, abz53378

[2018-08-21 12:15] abz53378 opened #72 "Support pageSchema in canner-compiler"
For now, canner-compiler doesn't support `page`, `indicator`, `chart` type. But for the dashboard and chart features, we have to let it work.

**page schema**
[code]

**component tree**
[code]

[2018-08-22 02:38] foxxxyben opened #73 "Image Editing in "Editor" UI"
I am having problems with the Rich Text Editor:

1. Editing photos has a rendering glitch and it is very difficult to get the edit icon to appear. Really should be a hover over the entire image.
2. I want to be able to change image attributes other than size, especially being able to control the wrap is quite important. [MediumEditor](https://yabwe.github.io/medium-editor/) has a great [jQuery Ima

[2018-08-22 10:24] chilijung commented on #73
Hi @foxxxyben `slate-editor` is still buggy now we are planning to release some fixes soon, so in latest version we relpace `quill` as our default editor https://github.com/Canner/antd-canner-components/blob/canary/packages/antd-object-editor/package.json#L16.

react-quill demo: https://zenoamaro.github.io/react-quill/

Hope this can suit your needs thanks!

[2018-08-22 21:09] foxxxyben commented on #73
Hi @chilijung, thanks for the quick reply! As long as it includes the ability to add packages like [Quill ImageResize Module](https://www.npmjs.com/package/quill-image-resize-module) then that would be perfect. I'll be working on projects where non-technical users will be contributing content, and having those simple corner-drag and alignment options built right in is an absolute must have. Please

[2018-08-23 03:37] chilijung commented on #73
Agree with you that it's a really important feature, open an issue in `antd-canner-components` you could follow the progress there! https://github.com/Canner/antd-canner-components/issues/26

[2018-08-23 10:36] #57 closed, assigned to abz53378

[2018-08-23 10:36] #72 closed, assigned to abz53378

[2018-08-24 10:52] chilijung opened #78 "Replace loading icon with content-loader"
Loading icons are annoying should change to https://github.com/danilowoz/react-content-loader for better user experience.

[2018-08-28 04:20] #78 closed, assigned to chihsuan, abz53378

[2018-08-28 07:33] abz53378 opened #81 "Add Enum Type"
To support [enum type](https://graphql.org/learn/schema/#enumeration-types) in graphql, we have to add an enum tag.

[code]

- canner-script
  - add enum type
  - defaultUI: `select`
  - required attributes `values`
- canner-schema-loader
  - Add `enum.select: @canner/antd-string-select`, `enum.default: @canner/antd-string-select` in [componentMap](https://github.com/Canner/canner/blob/canary/pack

[2018-08-28 10:23] abz53378 commented on #63
Merged.

[2018-08-28 10:27] abz53378 commented on #64
Add `<array ui="tree">` in https://github.com/Canner/canner/commit/30e9235a465d29e836d7c1b140df3a2a748bdc4b

[2018-08-28 10:27] #64 closed, assigned to abz53378

[2018-08-28 10:28] abz53378 commented on #70
Merged.

[2018-08-28 10:28] #70 closed, assigned to chihsuan, abz53378

[2018-08-29 04:20] #58 closed, assigned to wwwy3y3, chihsuan, abz53378

[2018-08-29 04:40] chilijung opened #84 "Local development should connect to real db"
CannerIO's graphQL interface should be able to allow CLI to access it's Queries.

[2018-08-29 04:49] abz53378 opened #85 "Add the fake data when developing in local"
Add opion `fake-data` in `canner script:serve` to generate the fake data.

[code]

[2018-08-29 04:52] chilijung commented on #85
what is `listLength` mean?

[2018-08-29 04:53] #84 closed, assigned to wwwy3y3, chihsuan, abz53378

[2018-08-29 06:15] chilijung opened #86 "If relationship is not assigned with value, should show nothing instead of undefined."
<img width="1363" alt="screen shot 2018-08-29 at 2 14 23 pm" src="https://user-images.githubusercontent.com/1216029/44769058-eaa5a080-ab95-11e8-8c96-d8e399f9fdb4.png">

[2018-08-29 07:12] chilijung opened #88 "Add "The idea behind the example"

[2018-08-29 07:13] chilijung opened #89 "Add "The idea behind the example" section in example"
We should add a section in each example, like next.js to accentuate the purpose of the example

https://github.com/zeit/next.js/tree/canary/examples/with-apollo-and-redux#the-idea-behind-the-example

[2018-08-29 07:14] #88 closed, assigned to nobody

[2018-08-29 08:29] chihsuan commented on #81
Merged. Close issue.

[2018-08-29 08:29] #81 closed, assigned to chihsuan, abz53378

[2018-08-29 08:32] abz53378 commented on #63
Leaving creating form without any changes also shows the confirm modal, because the `create action` actually be triggered when a user enters this page. But for good UX, this empty create action should be ignored.

Currently is hard to solve this issue now, will keep reopening.

[2018-08-29 08:35] abz53378 commented on #85
`listLength` lets developers decide **how many items** should be generated in their array data.

[2018-08-29 08:37] chilijung commented on #85
I think the command could be more intuitive, cmd below is hard to recognize & extend.

[code]

[2018-08-29 08:39] chilijung commented on #85
Since we might implement `canner script:serve` with env.

such as:

[code]

I think we could seperate the command. Something like.

[code]

Thoughts?

[2018-08-29 15:03] chihsuan commented on #85
The `script:fake` looks good. I think `--list` option would still be hard to understand since it usually point to like list items. How about using `--data` or `--num` instead?

[2018-08-29 16:47] wwwy3y3 commented on #85
IMO, `--list-length` might be more specific than `data` or `num`. Adding explanation of arguments in the document would be enough.

So maybe
[code]

[2018-08-30 01:11] chilijung commented on #85
or we could do, use `--env` instead of `--data`?

[code]

I prefer `--env` over `--data`, how do you think?

ref: https://github.com/Canner/canner-platform/issues/2

[2018-08-30 04:36] abz53378 opened #91 "The toolbar tags"
## Overview

A toolbar helps component to deal with other actions such as **import/export data**, **filter**, **pagination**, **order**, etc.  In canner schema, toolbar tag is just an attribute of its parent component.

[code]

The `jsx` above actually represents this JSON.

[code]

In UI (for reference only)

<img width="822" alt="toolbar" src="https://user-images.githubusercontent.com/8848231/44

[2018-08-30 04:42] abz53378 commented on #91
@chihsuan, @chilijung, @wwwy3y3 How do you think?

[2018-08-30 04:45] chilijung commented on #91
I think `order` tag should be call `sorter` instead. Order !== sort.

Others lgtm.

[2018-08-30 06:46] abz53378 commented on #91
Update `order` to `sorter`.

[2018-08-31 04:56] chihsuan commented on #71
Merged. Close this issue.

[2018-08-31 04:56] #71 closed, assigned to chihsuan, abz53378

[2018-08-31 10:06] chilijung opened #93 "Allow Condition tag to have same key in children"
[code]

Now, using schema above will produce `duplicated keyName in children of orderInfo` error

[2018-09-07 10:20] abz53378 commented on #85
@chihsuan, thanks for your implementation of `createFakeData` (#94). Here are some feedback after using it in the project.

1. Should create the fake data of an inner array. (length = 5)
[code]
    should get data like this
[code]
     but for now we will get an empty array of `hobbies`

2. Should create the fake data of a relation field

[2018-09-07 10:42] chihsuan commented on #85
@abz53378:  Okay, could you give some example of relation schema and its fake data? Thanks!

[2018-09-08 17:16] abz53378 commented on #85
@chihsuan, please check out https://www.canner.io/docs/advance-component-types.html#lt-relation-gt.

[2018-09-09 06:18] chihsuan commented on #85
@abz53378:  Since the relation type depends on the first level key of data if the schema is only included relation type, what the createFakeData should return?

[2018-09-10 08:14] abz53378 commented on #85
@chihsuan, I think returning the empty data is ok if there is no corresponding field.

## toOne example
[code]
fakeData
[code]

## toMany example
[code]
fakeData
[code]

[2018-09-12 08:02] abz53378 opened #97 "Storage API"
## Why

For now, we take [image-service](https://github.com/Canner/image-service-config) as the storage interface. But `image-service` is actually only designed for [antd file uploader](https://ant.design/components/upload/), so it has the method `getServiceConfig` which return the `props` of antd file-uploader.

So we need a general API to let storage can integrate with different Uploader.

## Us

[2018-09-12 08:40] chilijung commented on #73
This is added into latest editor component!

[2018-09-12 08:40] #73 closed, assigned to chilijung

[2018-09-13 02:27] wwwy3y3 commented on #97
IMO, the `publicUrl` in `getSignedUrl` is going to be meaningless if the uploading process fails, so it makes more sense we return this field at `upload` method.

Second, renaming `getSignedUrl` to `getUploadUrl` would be easier to understand.

Furthermore, I think it would be better we put `onProgress` callback to upload `method`, since we want to get the progress for individual upload, not the `

[2018-09-13 02:52] chilijung commented on #91
Sort API change to

[code]

[2018-09-13 10:07] abz53378 opened #98 "An Array Containing Different Item Schemas"
For now, we can't transform the data below to our `canner-script` because we expect every item in an array has the same data structure.
[code]

Since, there are many use cases that array data might contain with different object schema.

[2018-09-14 08:14] abz53378 commented on #97
@chihsuan, after you finish the storages please implement the following items:
- change the property `storages` to `imageStorages` and `fileStorages` in root object of `canner-script` [ref](https://github.com/Canner/canner/blob/canary/packages/canner-script/src/models/root.js#L65)
- remove the `imageServiceConfig` property of component, using `imageStorage` and `fileStorage` instead. [ref](https:/

[2018-09-17 04:01] abz53378 opened #101 "Support Relation Field in Nested Object?"
In some cases, developers may want to use a `relation` field in a nested object like  the `author` below:
[code]

[2018-09-18 03:16] chilijung commented on #93
I would like to add more about `duplicate keyName problem`

Duplicate keys I think is pretty useful

### Declare duplicate keys in order to show info in specific order

[code]

### Declare duplicate keys in order to show different result with the same data

[code]

[2018-09-27 07:25] abz53378 commented on #97
## CannerFirebaseStorage
### The frontend Implemantation
- Developers new a CannerFirebaseStorage in their schema without any arguments and other codes.
[code]
- In out CMS page, we will set `apiToken` and `appId` to the storage.
[code]
- When the uploading starts, call `getUploadUrl` with arguments `appId`,`apiToken`, `metaToken` first, and call `getDownloadUrl` at last.
[code]

### The backend I

[2018-09-27 11:30] chihsuan commented on #97
@abz53378: Looks good. Just one point that I think using `getUploadUrl(file, filename, {metaToken}){}` would be simpler if we don't have any case that using it with different appId and apiToken.

[2018-09-28 02:02] wwwy3y3 commented on #97
@abz53378 shouldn't `metaToken` be generated at backend?

[2018-09-28 02:33] abz53378 commented on #52
Implemented, https://github.com/Canner/canner/issues/70

[2018-09-28 02:33] #52 closed, assigned to wwwy3y3, chilijung, chihsuan, abz53378

[2018-09-28 02:34] abz53378 commented on #85
Resolved.

[2018-09-28 02:34] #85 closed, assigned to chihsuan, abz53378

[2018-09-28 02:37] abz53378 commented on #67
Image-service-config is deprecated, using [Storage](https://github.com/Canner/canner/issues/97) instead, and `limitSize` feature is implemented in image component.

[2018-09-28 02:37] #67 closed, assigned to abz53378

[2018-09-28 02:45] abz53378 commented on #86
This issue may be caused by using the wrong UI in you relation tag or an expected `uiParams.textCol` is not given.

[2018-09-28 02:45] #86 closed, assigned to abz53378

[2018-09-28 02:47] abz53378 commented on #61
Fixed by https://github.com/Canner/canner/pull/76

[2018-09-28 02:47] #61 closed, assigned to abz53378

[2018-09-28 07:52] abz53378 commented on #97
@chihsuan, @wwwy3y3, here are some changes, how do u think?

- remove `metaToken`, and `getDownloadUrl`, storage get the `publicUrl` from the method `getUploadUrl`
- remove the third argument

[code]

[2018-09-28 07:55] wwwy3y3 commented on #97
IMO, as response, `{uploadUrl, publicUrl}` would be better.

[2018-09-29 11:30] aalibaabaa opened #106 "Couldn't find package "@canner/customize-string-input@^0.1.18""
Hi folks,

I tried to install canner client by running `npm install -g @canner/cli`. Seems, that there is a missing dependency. I get the error message `Couldn't find package "@canner/customize-string-input@^0.1.18" required by "@canner/cli"`

Could you please check that?

[2018-09-29 14:13] chilijung commented on #106
Hey @aalibaabaa, may I ask which version are you trying to install 1.5.0-canary.x version is not officially public yet. But I've just public the package, you can try reinstall thanks!

[2018-09-29 14:13] #106 closed, assigned to nobody

[2018-09-29 14:17] chilijung commented on #106
Oh never mind, forget what I said. I think we have published a new public version in CLI which cause the error that you mentioned.

[2018-10-02 10:12] abz53378 commented on #62
merged, so close it.

[2018-10-02 10:12] #62 closed, assigned to abz53378

[2018-10-02 10:13] #91 closed, assigned to nobody

[2018-10-04 16:45] Bedrock02 opened #111 "canner script:serve does not run server in Docker"
I am trying to set a docker container for my canner project. Locally when I serve on my computer I see
`Starting CMS server on http://localhost:9090`

However within the docker container I see everything except for that it is serving on 9090

**docker-compose.yml**
[code]

**Dockerfile**
[code]

**docker-compose up --build**
[code]

[2018-10-08 02:09] chilijung commented on #111
@Bedrock02 Hi, since `canner:serve` is using https://github.com/webpack/webpack-dev-server to create local server for local development. Since we are not really familiar with docker, so we didn't know why this is not working right.

If you are trying to hosting a web server that hosting Canner CMS you should consider using https://www.canner.io/docs/guides-community-intro.html our Canner component

[2018-10-11 02:32] #97 closed, assigned to chihsuan, abz53378

[2018-10-12 15:51] jacargentina opened #113 "How to store files on local filesystem"
I'm starting to learn about canner; i've found that for file uploads there is `FirebaseClientStorage` https://www.canner.io/docs/guides-storage

My files are my data too, so i would like to migrate my website from keystone to canner, but can't find there is some storage for files on my server itself ? Maybe i'm missing something.

[2018-10-13 05:53] chilijung commented on #113
Hi @jacargentina, could you tell us more about your use cases

Does this mean that you are trying to use Canner CMS to manage data from your local server?

Thanks.

[2018-10-13 15:44] jacargentina commented on #113
@chilijung exactly. I want to upload files in my very own server

[2018-10-17 06:30] chilijung commented on #113
Unfortunately. Currently, Canner is focused on supporting cloud services & specific BaaS servers. We are supporting Firebase/Firestore, Prisma servers.

Local storage is not available on Canner now. Thanks!

[2018-10-17 06:30] #113 closed, assigned to nobody

[2018-10-17 10:59] chilijung opened #116 "Support customize page header"
<img width="970" alt="screen shot 2018-10-17 at 6 58 39 pm" src="https://user-images.githubusercontent.com/1216029/47081947-b1f18180-d23e-11e8-8afe-8ea8e457effd.png">

[2018-10-17 12:06] jacargentina commented on #113
@chilijung so please, modify https://www.canner.io/docs/guides-storage

Would be nice to make it clear: for Canner, **files are not your data**, files are **cloud services & specific BaaS servers** data. **NOT yours**

[2018-10-18 02:47] chilijung commented on #113
@jacargentina added in docs, will update next publish thanks.

[2018-10-18 03:30] abz53378 opened #117 "Incorrect service name in FirebaseAdminConnector"
https://github.com/Canner/canner/blob/canary/packages/canner-graphql-interface/src/connector/firestoreAdminConnector.ts#L6

[2018-10-18 03:57] abz53378 commented on #117
In canner backend, credentials of `firebase` and `firestore` are saved with the same service name `firebase`, so I close this.

[2018-10-18 03:57] #117 closed, assigned to FrankYang0529

[2018-11-01 03:19] 11111000000 opened #118 "cli: No such file or directory"
[code]

[2018-11-01 03:28] 11111000000 commented on #118
(nixos lastest)

[2018-11-01 03:55] abz53378 commented on #118
Hi, @11111000000 , thanks for the report.
Does the installation process well or any error occurs? And If you enter `canner` command, what's the error thrown? Thanks!

[2018-11-01 19:49] 11111000000 commented on #118
There is no any errors, until `canner`:
`No such file or directory`

[2018-11-02 03:19] abz53378 commented on #118
Thanks for the response, I found the reason is that `nixos` doesn't support executing binary files by default. You can see the official documentation [here](https://nixos.wiki/wiki/Packaging/Binaries).

[2018-11-02 14:10] chilijung opened #120 "Demo fixes"
- Title
- favicon
- images are broken

[2018-11-02 14:23] chilijung commented on #120
I fixed title, favicon. Please fix images. Thanks! @abz53378

[2018-11-03 10:42] #120 closed, assigned to abz53378

[2018-11-09 11:04] abz53378 opened #123 "Roadmap to 4.0"
## Roadmap

In the process of implementing 2.x, we found there are lots of features we didn't think at the start and they are basically out from our original design, such as customize graphql, wildcard component, sync fetching, etc. We still implement these features in 2.x and they also work well. But it's caused the structure of Canner is hard to understand. So, next step, we will focus on the re

[2018-11-10 02:02] abz53378 opened #124 "Network error: Converting circular structure to JSON"
The schema will cause the issue on windows.

[code]

The solution is to moving the attribute`imageStorage` form <array> to the <root>

[2018-11-12 02:42] abz53378 opened #125 "access control"
## Why

It's normal that every role is authorized to *CRUD* different data source. When giving the different `rules`,  Canner component should generate the different UIs and have different behaviors such as *disabled* actions, *hidden* field, and *disallow* the specific pages (e.g. `/posts/postID1`).

## Solution

Canner will get an object `rules` which records the authorization of the current use

[2018-11-13 07:03] 11111000000 commented on #118
I know that :)  So, you want to package canner everywhere? 2) How about working `Dockerfile` example?

[2018-11-14 02:17] abz53378 commented on #118
Sounds great! We plan to use [node-docker](https://github.com/nodejs/docker-node) as the image, does it fit your needs?

[2018-11-14 05:06] 11111000000 commented on #118
it's ok for example, in practice we based on node-alpine

[2018-11-14 07:37] abz53378 commented on #118
Here is the basic `Dockerfile` and `canner.schema.js`. *But notice that the command `canner script:serve` is designed to preview the CMS when developing.*  The correct way to host Canner CMS is using `canner script:deploy` to deploy the `schema` and `canner.cloud.js` to our platform.

Please let me know whether this fit your needs, thanks!

**Directory**
[code]
**Dockerfile**
[code]

**canner.sche

[2018-11-15 04:05] abz53378 opened #126 "Support build static files and serve CMS on CLI?"
## Problem

We notice that lots of developers want to use `canner script:serve`(for development) to host their CMS. So we start think how if we provide other commands for developers to serve their CMS just writing the Canner schema.

## Current Canner CLI

Canner CLI has two primary commands `canner script:serve` and `canner script:deploy`.
- `script:serve`: **Development**. Use `webpack-dev-serve

[2018-11-15 04:14] abz53378 commented on #118
Hi, @FeklistovGleb, since we are using `webpack-dev-server` in `canner script:serve` for developing, the problem relates to the [option](https://webpack.js.org/configuration/dev-server/#devserver-disablehostcheck). So I will add it soon and Inform you after new CLI releases. Thanks.

[2018-11-15 05:18] chilijung commented on #126
This is a really nice feature! But does this mean that login page is not included in the build?

I think we can hosting version of CMS without login page with the build, which you proposed. Looks good to me.

[2018-11-15 17:16] 11111000000 commented on #118
@abz53378  How avoid this with current cli or we can use own cli?

[2018-11-15 18:31] 11111000000 commented on #126
authorization is a middleware. Cloud storage - is an option (good option). That sort of cms (canner script) - - good with it's agile nature, integration.

[2018-11-16 02:28] chilijung commented on #126
@FeklistovGleb @11111000000 since your CLI must rely on Canner platform API server (which is why you need to `canner script:deploy` to deploy your credentials to Canner). Building static files and serve it would not create API server in your local machine, it's only a static hosting server.

Does this make sense to you guys?

[2018-11-16 08:02] abz53378 commented on #118
Try using `@canner/cli@2.6.3`, you can use `canner script:serve -d, --disable-host-check` to ignore the host check. This option just a quick fix for the `script:serve`, we will support the `static:build` and `start` commands for production usage (#126 ) soon. There will be more options that I think can fit most needs.

Thanks!

[2018-11-16 08:05] abz53378 commented on #118
Close this. The origin problem is resolved.

[2018-11-16 08:05] #118 closed, assigned to nobody

[2018-11-22 11:18] abz53378 opened #127 "Add data-* for end to end test"
## Why

For us, we can make Canner more reliable. For developers, they can also test their CMSes.

## Proposed Solution

As mentioned by the article above, using `data-*` is better than `className` or `id`. Since antd is not fully supported `data-*` attributes, I think to add this attribute on our title HOC(which wraps every component) is OK, so whether the component is customized or imported from

[2018-11-24 23:45] odifek opened #128 "Error: EACCESS: permission denied - installing on linux with sudo npm install -g @canner/cli"
Throws this error,
sudo npm install -g @canner/cli  Sun 25 Nov 2018 00:35:13 WAT

However, if I do `cd /usr/lib/node_modules/@canner/cli &&
sudo node download/install.js` it will successfully install, and I am able to run and serve canner. But I discovered that some things don't work, like @canner/storage, reports dependency not available

[2018-11-25 14:17] odifek opened #129 "Adding import {FirebaseClientStorage} from @canner/storage throws error"
I have tried severally to no avail. I've also installed @canner/storage as recommended but not working

[2018-11-26 02:16] odifek opened #130 "Network error: request error at connector"
Please what is your take about this error? I've waded through all the errors. I am now hooked at this one.
This is my connector initialization
[code]
After deploying, cms spits out errors

Please what do I need to do to fix this?

[2018-11-26 02:53] abz53378 commented on #130
Hi, @odifek, `FirebaseClientConnector` only work for community version which means you build the CMS with our `<Canner >` component in a react project. (see [the code of demo](https://github.com/Canner/canner/blob/canary/docs/index.js))

On our platform, we provide the file `canner.cloud.js` for developers to deploy the credential files, so you don't have to declare the `connector` in your schema,

[2018-11-26 03:15] abz53378 commented on #129
Hi, @odifek , I'm not sure what caused this, so could you confirm the `@canner/storage` is indeed in the `node_modules` of your project?

[2018-11-26 03:28] abz53378 commented on #128
Thanks for the report and glad to know you've installed CLI.
I think `sudo npm` is not a good usage. So we won't change the installation process for now. See [resolving-eacces-permissions-errors-when-installing-packages-globally](https://docs.npmjs.com/resolving-eacces-permissions-errors-when-installing-packages-globally).

[2018-11-26 03:28] #128 closed, assigned to nobody

[2018-11-26 09:02] odifek commented on #130
Oh thank you very much. I will try that out and revert

On Mon, Nov 26, 2018, 03:53 Siou <notifications@github.com> wrote:

[2018-11-26 09:14] sedubois commented on #123
+1 for field-level i18n, similar to what DatoCMS offers.

[2018-11-26 21:58] odifek commented on #130
So great, I removed the connector and everything works fine now except for storage. It's still says

[2018-11-26 22:38] odifek commented on #124
The solution is to move the attribute imageStorage to the root tag

This is what I did to solve that problem

[2018-11-26 22:40] odifek commented on #130
I finally solved the above by inserting the imageStorage attribute in the root tag instead

[2018-11-26 22:44] odifek commented on #129
Wow! So I discovered that node_modules are not being installed in the project folder. SO I had to do `npm init` first before installing @canner/storage. With that , the cms started working. Thank you guys for this amazing project.
I am a mobile app developer, and some of my personal projects need a backend, but because I am not yet fluent enough in Javascript to write my own backend, I needed a si

[2018-11-27 01:36] chilijung commented on #129
Glad you love it 😄

[2018-11-27 01:36] #130 closed, assigned to nobody

[2018-11-27 01:36] chilijung commented on #124
nice!

[2018-11-27 01:36] #124 closed, assigned to nobody

[2018-11-28 11:24] hank9653 opened #131 "How to connect exist graphQL endpoint?"
Hi, I want connect exist graphQL endpoint, but there seems to be no relevant information in the document.
Please what do I can find it in somewhere?

[2018-11-29 02:45] abz53378 commented on #131
Hi, @hank9653, thanks for the question. Actually, the implementation isn't written in our document,  so I just note it below.

You can simply new a `GraphqlClient` instance and put it into your `<root>` tag. If you're using CLI to serve or deploy, you don't have to install `canner-graphql-interface` manually.

**canner.schema.js**
[code]

**GraphqlClient constructor arguments**
[code]

Any further

[2018-11-29 10:03] hank9653 commented on #131
It's work, I can get data from the graphQL endpoint, thank you for help.

[2018-11-29 10:03] #131 closed, assigned to nobody

[2018-12-03 08:01] rostislav-simonik opened #132 "Inputs too slow"
Inputs are slow. Is it known issue?

e.g. Demo: Products/Product

[2018-12-03 10:04] chilijung commented on #132
Hi, @rostislav-simonik do you mean all inputs? Or editor?

Regarding the editor, we are investigating into the issue. Thanks!

[2018-12-03 10:44] rostislav-simonik commented on #132
@chilijung all inputs, but i think those are two separate issues. Editor is much more slower. For other inputs If you try to write fast so it starts freezing.

[2018-12-03 11:44] chilijung commented on #132
Thank you for the feedback, we will look into how we can improve the
preformance problem.

rostislav-simonik <notifications@github.com>於 2018年12月3日 週一，下午6:44寫道：

[2018-12-04 07:52] chilijung opened #133 "Company using Canner"
If your company is using Canner, you can leave a comment where you are using and feedbacks, we are also willing to hear any thoughts and ideas. Please share here!

Once we approve, you will get a one-month PREMIUM plan free for your account! 🥇

[2018-12-07 15:34] AlexGach opened #134 "Handle event "on Save" button"
We would like to handle an event when user saves some data, and then execute an script to update an auxiliar collection.
Is it possible?

[2018-12-13 03:45] abz53378 commented on #134
@AlexGach, sorry about the late reply. For now, Canner doesn't support this, but if you are using firebase and firestore, [cloud functions](https://cloud.google.com/functions/docs/)  will be a great solution.

Btw, we are also thinking about whether we should implement this feature, how do you think if you can deploy a file `canner.function.js` and write some callback functions such as `afterDeplo

[2018-12-13 15:22] AlexGach commented on #134
@abz53378 Ok, we will check cloud functions

And canner.function.js would be really useful!
Thanks for your response

[2018-12-14 23:03] charlitoro commented on #131
hi @abz53378  I have the same problem, but this solution did not work for me, I have problems with the CORS, I have enabled them and I continue to generate the same problem ... if you have any example where you can look at all the configuration and development of a project in react , I would like very much ...

[2018-12-18 11:10] abz53378 commented on #131
HI @CharliToro, sorry about the late reply, to solve the CORS problem, you have to configure your server instead of changing anything about CannerCMS, here is a great explanation of [CORS](https://stackoverflow.com/a/10636765/6043821), an article about [CORS in express](https://medium.com/@alexishevia/using-cors-in-express-cac7e29b005b), and in our project, we use [@koa/cors](https://github.com/ko

[2018-12-19 22:33] imakou opened #136 "Cannot setup Credential"
Hi All,

I've generated cert from Firebase and saved with `canner.cloud.js` under the same folder.
I tried to access the cert.json as following
`default: [new FirebaseCredential(require('./cert.json'))]`
Then, I got the error message:

[code]
I think there is nothing worng with my setting...

Any suggestion?

Thanks.
![screen shot 2018-12-19 at 5 29 22 pm](https://user-images.githubusercontent.com

[2018-12-19 22:54] imakou commented on #136
In addition, always facing the error when tried to initialize the project

`EACCES: permission denied, mkdir '/snapshot/cli/dist/schema/company/components'`

I install @canner/Cli by yarn as global installing.

[2018-12-20 04:01] abz53378 commented on #136
Hi, @imakou  thanks for the report.

It's a typo in the company template, you can find this line:` pathname; 'about'`, and please change it to `pathname: 'about'` (`;` to `:`) in `canner.cloud.js`.

And I just released `2.7.9` which fixes both two problems, please try it, thanks!

[2018-12-21 00:11] imakou opened #137 "Import Data err: Reading canner.cloud.js occurs errors."
Hi All,

I am facing that the data cannot be loaded from firebase.
By using cli `canner data:import`, I got the error msg
[code]
`canner.cloud.js`
[code]

`canner.scheme.js`
[code]
Should I configure `canner.scheme.js`?
I don't modify `canner.scheme.js` too much, just following the format since it was initialized.

Any suggestion?
Thanks.

[2018-12-21 08:11] abz53378 commented on #137
Hi, @imakou, `canner data:import` is used to import your fake data(written in `canner.data.json`) into your `firebase`, and if you want to load the data from 'firebase', you can use the the command `canner script:serve --env default`, thanks!

[2019-01-14 18:30] earthlingdavey commented on #111
@Bedrock02 , did you get it to work with docker?

[2019-01-15 00:44] earthlingdavey commented on #111
With some help from comments in the issue [cli: No such file or directory #118](https://github.com/Canner/canner/issues/118) I have found a solution to your question.

You must install version 2.6.3 of @canner/cli . I found that it error'd if installed globally so it's set as a dependancy in package.json

The command `canner script:serve /app/schema/canner.schema.js --host 0.0.0.0 --port 9090` is

[2019-01-19 01:54] #137 closed, assigned to nobody

[2019-01-19 01:54] #136 closed, assigned to nobody

[2019-01-19 01:54] #129 closed, assigned to nobody

[2019-01-19 05:26] imakou opened #139 "Error: EACCES: permission denied, open '/Users/allen/.config/configstore/canner.json'"
Hi,

Have tried #128 and ```sudo npm i -g @canner/cli```
But the error is still there.
MAC OS 10.14
NODE: 10.15

Thanks.
[code]

[2019-01-19 06:32] abz53378 commented on #139
Hi, Imakou, thanks for the question, I just found a solution for EACCESS error, try using `sudo npm i --unsafe-perm -g @canner/cli`, it will execute the CLI always as root role, see [here](https://stackoverflow.com/questions/49084929/npm-sudo-global-installation-unsafe-perm)

[2019-01-19 18:11] imakou commented on #139
Hi @abz53378 ,
The cmd resolve the issue for instilling @canner/cli.
But,  I got another error msg ```EACCES: permission denied, open '/Users/username/.config/configstore/canner.json'```
I can still run the ```canner script:serve``` by typing ```sudo canner script:serve```.
I think that it's little weird. I faced this issue before. Maybe your team has to fix this problem?

thanks.

[2019-01-20 02:58] imakou commented on #139
Hi,

I think that the cmd ```sudo npm i --unsafe-perm -g @canner/cli``` doest not work very well because the system asks root's permission every single time if I change the files(e.g. canner.cloud.js) created by Canner/cli. Should fix the issue and release a new version?

[2019-01-21 15:36] imakou commented on #139
update:
The installation of @canner/cli@2.8.3 is working well in Windows 10, but MacOS and Docker container Node V10.x.

[2019-01-22 04:49] abz53378 commented on #139
Hi, Imakou, thanks for your tracking. We are focusing on resolving this issue, and I still have some questions.

1. After the solution of #128, do you have tried to install `@canner/cli` without `sudo`? I think it should work because you have changed the path of npm directory which didn't need root permission to read and write.
2. Could you paste your role by typing `whoami` in the terminal and th

[2019-01-23 04:28] imakou commented on #139
Hi @abz53378 ,
It shows errors by Installing @canner/cli without sudo.
```npm i --unsafe-perm -g @canner/cli``` and ```npm i -g @canner/cli``` cause the same error.
I've changed Node.js' folder already as follow instruction as #128

Canner is a good tool. I believe it has huge potential. But it has to be stable first.
That is the second time I encounter cli problem.

Thanks.

[code]

[2019-01-23 07:30] abz53378 commented on #139
Hi, @imakou , thanks for your reply and advice, we will keep improving Canner.

And for the error above, I reproduced it and also resolved it, here are the conclusion. Hope this helps you.

### 1. Why `~/.npm-global` also needs the `root/Administrator` permission.
Basically, after following the #128, and **directly run** `npm i -g @canner/cli` without `sudo`, everything works fine. The two directo

[2019-01-23 07:38] abz53378 commented on #139
Also, you have to ensure the files in the project have the correct ownership. I guess they may be changed because of the previous wrong installed `@canner/cli`

[2019-01-24 02:08] imakou commented on #139
Hi @abz53378,
@Canner/cli works very well by following your instruction ``` sudo chown -R `whoami` ~/.npm-global```.

Now, I'm a happy developer!! ❤️

[2019-01-25 01:54] #139 closed, assigned to nobody

[2019-01-25 03:54] abz53378 opened #141 "Roadmap of Canner v3.0"
## The integration of Canner and GQLify
In @canner/cli@2.x version, we focused on how to create the CMS on our platform. So, there are just two major commands, `script:server` and `script:deploy` for users to preview and deploy their schema to our platform. Most of data connectors and config files are also designed for the platform.  But we found the most developers care about ***how to self-host

[2019-01-31 11:15] valentinalexeev opened #143 "Performance and memory usage on large collections"
With canner 2.0.10 and above and Google Firestore as a back-end I'm running into performance problems and out-of-memory errors when editing collections with 400+ entities.

A single edit in ```<array ui="table"/>``` can result in jump in memory usage by ~400MB.

The issue seems to come from React component state update sequence where canner ```hocs/utils.js``` function ```parseConnectionToNormal``

[2019-01-31 11:17] valentinalexeev commented on #143
It seems that #132 issue can be related to this as every update of every input launches full collection traversal as well.

[2019-02-01 03:53] wwwy3y3 commented on #143
hi @valentinalexeev

After the investigation, we knew exactly where we should fix and we're fixing it.

We also need some time to test it.

The patch will be released soon and we'll keep you updated.

thanks!

[2019-02-01 14:51] steurt commented on #141
Looking forward to this! Want to start using Canner and use it as OSS (self-hosting) on firebase hosting (and firestore). Hearing that Canner v3.0 will be more focussed on OSS is great. Want to experiment with Canner, but I think I'll wait for the first v3.0 release (tomorrow?).

[2019-02-03 05:28] MaksimKlepikov commented on #141
I hope you are fine. Can't wait to try v3 with prisma as self hosting

[2019-02-07 06:29] wwwy3y3 opened #144 "Official docker image"
## Official docker image for canner-server
We'll use multi-stage docker image (https://docs.docker.com/develop/develop-images/multistage-build/) to build the static files first, and serve it at next image.

There are still some bundle issues we need to resolve. After resolving issues, we'll push images to docker hub for everyone to use.

[2019-02-07 22:28] PostPollux commented on #144
Can't wait for this to happen! Keep it up!

[2019-02-07 22:52] charlitoro opened #145 "Headers Authorization token parameter to create connector GraphqlClient"
In my project use **AWS Cognito** form my users, I have a graphql api with **GQLify** in **AWS Lambda**. I get the idToken to authentication but I don't know how send this token in the parameters when y create de connector GraphqlClient.
This is my configuration:
[code]
But this configuration don't work.

[2019-02-08 17:07] wwwy3y3 commented on #141
Hi @steurt @kevrat

Our Canner v3 is released!

Check out our blog to see what's new: https://www.cannercms.com/blog/2019/02/07/canner-v3

Another thing is that Prisma will require more time to be integrated into our v3 framework. We'll get to that really soon.

[2019-02-08 17:52] AlexKMDev opened #146 "Records per page"
How do I set a number of records retrieved per page for `<array>`? By traversing the documentation and the source code I haven't found the obvious way to do that.

[2019-02-08 18:20] MaksimKlepikov commented on #141
Nice work! Hope to try it with prisma soon

[2019-02-08 20:52] charlitoro commented on #145
this configuration it work, i had a problem with the incorrect api, sorry

[2019-02-08 23:09] no-1ne commented on #141
Kudos for thinking about greater good and  making canner v3  self hosting friendly,

Wih firebase auth and firestore it really is significant asset for anyone

Cheers from India :)

[2019-02-10 04:22] johhansantana commented on #141
Awesome work! I was trying to set it up with firestore but ran into some trouble:
https://spectrum.chat/?t=44268817-8232-41b2-a5a8-e86e2357bacd

It worked perfectly with realtime database from firebase though!

[2019-02-13 12:22] AlexGach opened #147 "Random string as a filename to allow uploading the same image name"
Hi,
If a user uploads a second image named as a previously uploaded image, first image disappear and generates 404 error. For example uploading "default.png" in several articles.

To solve this we are using **shorId** library to generate a random value (like ECOMMERCE>ORDERS).

[code]

The problem is that shortId.generate() returns always the same value.
How can we use shortID for uiParams filenam

[2019-02-13 15:18] AlexGach opened #148 "Network error: request error at connector"
Hi,
I have multiple schema that are based in a table and everything works fine.
But when a simple one page schema is created (like DEMO: PERSONAL PROFILE), when trying to save, an error is thrown in deployed env (not in local): Network error: request error at connector

The code of this schema is:
[code]

Other sections works fine, without connectors.
What's wrong on the code?

[2019-02-19 03:14] abz53378 commented on #128
Hi, @singerswang, thanks for the report. As I mentioned above, the issue happens if you still install `@canner/cli` with `sudo`.

The current solution is following the [offical docs](https://docs.npmjs.com/resolving-eacces-permissions-errors-when-installing-packages-globally) to change the npm directory, so you can install the CLI **without** `sudo`.

If you tried it and had further problems, plea

[2019-02-19 03:15] abz53378 commented on #145
Thanks for your report! It's resolved, so I close it.

[2019-02-19 03:15] #145 closed, assigned to nobody

[2019-02-19 03:25] abz53378 commented on #147
Hi, thanks for your report, currently the filename only support fixed string. So what if we support the function in filename property, like this:
[code]

[2019-02-19 03:36] abz53378 commented on #146
Hi, thanks for the report, we don't support the `pageSize` option yet. Of course, it will be supported, and if there is any new progress about it, I will comment below to let you know, thanks!

[2019-02-19 03:42] abz53378 commented on #148
Hi, AlexGach, thanks for the report, what is the version of the CLI (enter `canner --version`)? And is there any information from the console and network panel?

[2019-02-19 15:29] AlexGach commented on #147
Hi @abz53378, that would be great 👍

[2019-02-20 03:39] #141 closed, assigned to nobody

[2019-02-20 07:59] AlexGach commented on #148
Current version: 2.7.0
Do you think uploading to 3.1.5 will solve it? I tried but there was an error on installation, I'll try again

[2019-02-21 15:36] AlexKMDev opened #152 "V2 toMany relation structure support in V3"
Steps to reproduce: follow the quick start tutorial [here](https://www.cannercms.com/docs/start-quick-3commands), select blog template, optionally configure firebase/firestore datasource, try to add multiple objects in `<relation>` field and take a look at the database structure.

Currently the structure look like this:

Categories

<img width="290" alt="screenshot 2019-02-21 at 10 30 48 pm" src="

[2019-02-22 02:36] wwwy3y3 commented on #152
Hi @Anakros

This data structure is **actually correct** but our quickstart might mislead you.

Before `@canner/cli v3.1.1`, the blog example we used has one-to-many relationship on post and category. In other words, a category can only have one post and a post can have many categories. That's why you saw a `postId` on category data. That's how we achieve `one-to-many` relationship.

We found it b

[2019-02-22 08:57] AlexKMDev commented on #152
Thanks so much @wwwy3y3, now it works correctly after upgrading from `v3.1.10`. However, is it still possible to deploy the app to Firebase Hosting the same as v2? I can't find a way in the documentation.

[2019-02-22 09:10] wwwy3y3 commented on #152
Hi @Anakros

As we announced in our blog post: https://www.cannercms.com/blog/2019/02/07/canner-v3#migration-from-canner-v2-v3

We'll release a new feature next week allows you to create the exact same structure in v2 using `mode: embed`.
[code]

We'll also publish a migration guide for developers to transform from v2 to v3. I'll mention you in this thread as well.

If it's okay, I'd like to chang

[2019-02-22 09:13] wwwy3y3 commented on #152
@Anakros regarding deployment to Firebase, We'll add a section in document as well next week that teach people how to deploy to Firebase Cloud Function.

Since our architecture includes GraphQL Server and the Authentication server, it's easier to deploy the whole thing to Cloud Function.

[2019-02-22 09:20] AlexKMDev commented on #152
Yes, sorry about the title, @wwwy3y3, I've changed it myself.

By any chance do you have any technical details already regarding deployment to Firebase or I should wait until you release it in the documentation next week?

Thanks for your help again.

[2019-02-22 09:52] wwwy3y3 commented on #152
@Anakros There are still some optimization details (for example the cloud function bundle size) we're trying out here. We really want developers to have the best experience using Canner.

 We plan to publish a blog post approximately next Tuesday if it's okay.

Thanks!

[2019-02-22 12:57] AlexKMDev commented on #152
Thanks, looking forward to it!

[2019-02-23 06:39] tawanorg opened #153 "Relation field not storing relationships consistently"
Last item set is `NULL` as always.

[code]
![screen shot 2562-02-18 at 19 16 35](https://user-images.githubusercontent.com/10970130/53282863-00390300-3792-11e9-8475-60c474c5e1e4.png)

[2019-02-23 06:52] wwwy3y3 commented on #153
Hi @ttawan

May I know the following information
* OS
* Node version
* Canner version

Thanks

[2019-02-23 07:05] wwwy3y3 commented on #153
@ttawan Please provide us your full canner schema as well, so we can reproduce your situation.

Thanks

[2019-02-26 02:10] wwwy3y3 commented on #153
hi @ttawan any update on this issue?

After taking a look at your data, I believe you use a relation field inside an array field, which is not an acceptable schema currently. Hope it helps.

Thanks!

[2019-02-27 03:36] wwwy3y3 commented on #153
temporarily close this issue due to no further response from the issuer.

[2019-02-27 03:36] #153 closed, assigned to nobody

[2019-02-27 14:09] AlexKMDev commented on #152
Hi @wwwy3y3

Are there any news on the deployment to Firebase?

[2019-03-01 22:44] HausOfAlejandro opened #158 "Can't install @canner/cli"
Hello, I'm really excited to try Canner but I have some trouble in the installation process.

I can't install canner with the **npm install --global @canner/cli** command.

I think it's something realted with the unzip of the file downloaded by the installer in "postinstaller", but I don't know why.

**Context:**
 - Windows 10 64x
 - Node 11x (but also tried in Node 11.10.1)
 - Lastest Canner vers

[2019-03-02 03:30] #158 closed, assigned to nobody

[2019-03-02 03:31] HausOfAlejandro commented on #158
It was solved when trying the installation in a different internet network, maybe if the download takes enough time the error occurs? :-)

[2019-03-05 03:16] abz53378 commented on #158
Maybe it's a network issue. Let me know if you have further question.

[2019-03-06 07:48] chilijung commented on #144
Hi @PostPollux, you can check out document https://www.cannercms.com/docs/guides-deployment-of-docker . you can deploy using Docker now!

[2019-03-06 07:48] #144 closed, assigned to nobody

[2019-03-09 02:18] #133 closed, assigned to nobody